[Unit]
Description=Kubernetes SPIRE Agent Daemon %i
PartOf=spire-agent.target
After=network-online.target local-fs.target time-sync.target
Before=remote-fs-pre.target
Wants=network-online.target local-fs.target time-sync.target remote-fs-pre.target spire-agent.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/run
StateDirectory=spire/agent/k8s-%i
RuntimeDirectory=spire/agent/sockets/k8s-%i
RuntimeDirectoryPreserve=true
ConfigurationDirectory=spire/agent
Environment="SPIRE_AGENT_ADDRESS=/var/run/spire/agent/sockets/%i/public/api.sock"
ExecStart=/bin/spiffe-helper -config /var/run/spire/agent/k8s-%i-x509pop/helper.conf
ExecStartPre=mkdir -p /run/spire/agent/k8s-%i-x509pop
ExecStartPre=/bin/bash -c "echo Y2VydF9kaXIgPSAiQENEQCIKc3ZpZF9maWxlX25hbWUgPSAidGxzLmNydCIKc3ZpZF9rZXlfZmlsZV9uYW1lID0gInRscy5rZXkiCnN2aWRfYnVuZGxlX2ZpbGVfbmFtZSA9ICJjYS5jcnQiCnJlbmV3X3NpZ25hbCA9ICJTSUdIVVAiCg== | base64 -d > /run/spire/agent/k8s-%i-x509pop/helper.conf"
ExecStartPre=/bin/sed -i "s^@CD@^/var/run/spire/agent/k8s-%i-x509pop^" /run/spire/agent/k8s-%i-x509pop/helper.conf
# https://gist.github.com/ageis/f5595e59b1cddb1513d1b425a323db04
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=false
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadOnlyPaths=/
ReadWritePaths=/run/spire/agent
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=yes
RestrictSUIDSGID=yes
TasksMax=infinity

[Install]
WantedBy=spire-agent.target
